* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Work Sans;
  src: url("fonts/WorkSans-Regular.ttf");
}

@font-face {
  font-family: Crimson Text;
  src: url("fonts/CrimsonText-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Crimson Text;
  src: url("fonts/CrimsonText-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

header {
  padding: 35px 130px 80px;
  background: #74c69d;
}

header .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar .navdiv {
  display: flex;
  gap: 30px;
}

header .navbar .navdiv p {
  color: #fff;
  text-align: right;
  font-size: 20px;
  font-family: Work Sans;
  line-height: 125%;
  transition: all linear 0.5s;
}

header .navbar .navdiv p:hover {
  color: #000;
  text-shadow: 1px 1px #000;
}

header .head-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: 70px;
}

header .head-div .div-left .ptop {
  color: #fff;
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

header .head-div .div-left .pcen {
  width: 416px;
  color: #fff;
  font-size: 40px;
  font-family: Crimson Text;
  font-weight: 700;
  line-height: 125%;
  margin: 15px 0;
}

header .head-div .div-left .pbot {
  width: 416px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  font-family: Work Sans;
  line-height: 125%;
}

header .head-div .div-left button {
  width: 170px;
  height: 48px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-family: Work Sans;
  line-height: 125%;
  border-radius: 5px;
  background: #fff;
  border: none;
  margin-top: 25px;
  transition: all linear 0.5s;
}

header .head-div .div-left button:hover {
  color: #fff;
  background: #000;
  box-shadow: 5px 5px 6px #fff;
}

section {
  padding: 65px 130px 80px;
}

section .div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section .div1 h5 {
  color: var(--color-green-100, #74c69d);
  text-align: center;
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

section .div1 h3 {
  color: var(--text-black, #000);
  text-align: center;
  font-size: 40px;
  font-family: Crimson Text;
  font-weight: 700;
  line-height: 125%;
  margin-top: 25px;
}

section .div1 p {
  width: 411px;
  color: var(--text-black, #000);
  text-align: center;
  font-size: 20px;
  font-family: Work Sans;
  line-height: 125%;
}

section .div1 .imgdiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 55px 0;
}

section button {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: Work Sans;
  line-height: 125%;
  width: 170px;
  height: 48px;
  border-radius: 5px;
  background: var(--color-dark, #212529);
  border: none;
  transition: all linear 0.2s;
}

section button:hover {
  color: #000;
  background: #fff;
  box-shadow: 3px 3px 3px #000;
  border: 1px solid #000;
}

section .div2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px 0 100px;
}

section div .div2:nth-child(2) {
  flex-wrap: wrap-reverse;
}

section .div2 .textdiv h3 {
  width: 462px;
  color: var(--color-dark-100, #212529);
  font-size: 40px;
  font-family: Crimson Text;
  font-weight: 700;
  line-height: 125%;
}

section .div2 .textdiv p {
  width: 470px;
  height: 75px;
  color: var(--color-dark-50, rgba(33, 37, 41, 0.5));
  font-size: 15px;
  font-family: Work Sans;
  line-height: 125%;
  margin: 20px 0;
}

section .div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

section .div3 h5 {
  color: var(--color-green-100, #74c69d);
  text-align: center;
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

section .div3 h3 {
  color: var(--color-dark-100, #212529);
  text-align: center;
  font-size: 40px;
  font-family: Crimson Text;
  font-weight: 700;
  line-height: 125%;
}

section .div3 .div3p {
  width: 404px;
  color: var(--text-black, #000);
  text-align: center;
  font-size: 20px;
  font-family: Work Sans;
  line-height: 125%;
}

section .div3 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
  gap: 30px;
}

section .div3 .container .card {
  padding: 20px 39px;
  background: #fff;
  box-shadow: 5px 5px 5px #000, -1px -1px #000;
}

section .div3 .container .card:hover {
  background: linear-gradient(45deg, red, blue);
}

section .div3 .container .card h6 {
  color: var(--color-dark, #212529);
  font-size: 24px;
  font-family: Crimson Text;
  font-weight: 700;
  line-height: 125%;
  margin: 10px 0;
}

section .div3 .container .card p {
  color: var(--color-dark-75, rgba(33, 37, 41, 0.75));
  font-size: 15px;
  font-family: Work Sans;
  line-height: 125%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #74c69d;
  padding: 50px 130px;
}

footer div {
  display: flex;
  gap: 10px;
}

footer div img:hover {
  transform: scale(2);
}

footer p {
  color: var(--color-white-100, #fff);
  text-align: right;
  font-size: 20px;
  font-family: Work Sans;
  line-height: 125%;
}

@media screen and (max-width: 1350px) {
  section .div2 img {
    width: 400px;
  }
  header .head-div .div-right img {
    width: 400px;
  }
}

@media screen and (max-width: 1180px) {
  section .div2 img {
    width: 335px;
  }
  header .head-div .div-right img {
    width: 335px;
  }
}

@media screen and (max-width: 1080px) {
  header .head-div .div-left .ptop {
    font-size: 12px;
    line-height: 125%;
  }
  header .head-div .div-left .pcen {
    width: 360px;
    font-size: 30px;
    line-height: 125%;
  }
  header .head-div .div-left .pbot {
    width: 335px;
    font-size: 10px;
    line-height: 125%;
  }
  header .head-div .div-left button {
    width: 150px;
    height: 40px;
    font-size: 15px;
    line-height: 125%;
  }
  section .div1 h5 {
    font-size: 12px;
    line-height: 125%;
  }
  section .div1 h3 {
    font-size: 30px;
    line-height: 125%;
  }
  section .div1 p {
    width: 335px;
    font-size: 15px;
    line-height: 125%;
  }
  section button {
    font-size: 15px;
    line-height: 125%;
    width: 150px;
    height: 40px;
  }
  section .div2 .textdiv h3 {
    width: 360px;
    font-size: 30px;
    line-height: 125%;
  }
  section .div2 .textdiv p {
    width: 334px;
    height: auto;
    font-size: 10px;
    line-height: 125%;
  }
  section .div3 h5 {
    font-size: 12px;
    line-height: 125%;
  }
  section .div3 h3 {
    font-size: 30px;
    line-height: 125%;
  }
  section .div3 .div3p {
    width: 335px;
    font-size: 15px;
    line-height: 125%;
  }
}

@media screen and (max-width: 970px) {
  header {
    padding: 15px 71px 80px;
  }
  section {
    padding: 65px 90px 80px;
  }
  footer {
    padding: 31px 25px;
  }
}

@media screen and (max-width: 890px) {
  section .div2 {
    justify-content: center;
    margin: 50px 0 50px;
    gap: 20px;
  }
}

@media screen and (max-width: 840px) {
  header .head-div {
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
  }
}

@media screen and (min-width: 770px) {
  header .navbar .navdiv img {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  header .navbar img {
    width: 100px;
    height: 40px;
  }
  header .navbar .navdiv p {
    display: none;
  }
  header .navbar .navdiv img {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  header .head-div .div-left .ptop {
    font-size: 8px;
    line-height: 125%;
  }
  header .head-div .div-left .pcen {
    width: 340px;
    font-size: 20px;
    line-height: 125%;
  }
  header .head-div .div-left .pbot {
    width: 315px;
    font-size: 7px;
    line-height: 125%;
  }
  header .head-div .div-left button {
    width: 130px;
    height: 40px;
    font-size: 10px;
    line-height: 125%;
  }
  section .div1 h5 {
    font-size: 8px;
    line-height: 125%;
  }
  section .div1 h3 {
    font-size: 20px;
    line-height: 125%;
  }
  section .div1 p {
    width: 315px;
    font-size: 7px;
    line-height: 125%;
  }
  section button {
    font-size: 10px;
    line-height: 125%;
    width: 130px;
    height: 30px;
  }
  section .div2 .textdiv h3 {
    width: 340px;
    font-size: 20px;
    line-height: 125%;
  }
  section .div2 .textdiv p {
    width: 314px;
    height: auto;
    font-size: 8px;
    line-height: 125%;
  }
  section .div3 h5 {
    font-size: 8px;
    line-height: 125%;
  }
  section .div3 h3 {
    font-size: 20px;
    line-height: 125%;
  }
  section .div3 .div3p {
    width: 315px;
    font-size: 7px;
    line-height: 125%;
  }
  section .div2 img {
    width: 300px;
  }
  header .head-div .div-right img {
    width: 300px;
  }
}
